html, body {
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 100px;
  line-height: 95%;
}

.subtitle {
  vertical-align: middle;
  display: inline-block;
  color: #999;

  line-height: 20px;
  padding: 8px 0;
  font-size: 20px;
}

.mn-link {
  position: relative;
  padding: 5px;
  margin-top: 8px;
}

.mn-link > .mn-link-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background-color: red;

  opacity: 0;
  transform: translate(7px, 7px);

  transition: all 0.2s;
}

.mn-link:hover > .mn-link-background {
  opacity: 1;
  transform: translate(0, 0);
}

.mn-link > .mn-link-background.no-transition {
  transform: translate(0, 0);
}

@media screen and (max-width: 410px) {
  .title {
    font-size: 50px;
  }

  .subtitle {
    line-height: 12px;
    padding-top: 7px;
    font-size: 12px;
  }
}
